* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*gets rid of white line on top of page that automatically appears*/

.toolbar{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.searchResults{
    display:flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cellList {
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cell {
    display: flex;
    height: 25%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    background: #D9D9D9;
    padding: 10px;
    margin: 5px;
}

.card{
    display: flex;
    height: 60%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #520031;
    margin: 20px;
    padding: 20px;
}

.bio{
    margin-top: 10px;
}


input{
    width: 650px;
    height: 54px;
    border-radius: 20px;
    background: #D9D9D9;
    border: 1px solid black;

    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0038FF;

}

p{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: white;

}

img{
    height: 70%;
    width: 90%;
}